[submodule "mafia_user_management_service"]
	path = mafia_user_management_service
	url = git@github.com:Flexksx/mafia_user_management_service.git
[submodule "mafia_game_service"]
	path = mafia_game_service
	url = git@github.com:Flexksx/mafia_game_service.git